*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;

}

.tateti{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    width: 500px;
    border: 5px solid #000;
}   

.columna{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.fila{
    display: flex;
    justify-content: center; 
    align-items: center;   
}


